<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Made by</span>
    <a
      b-slate-link
      href="https://github.com/deeper-chain" target="_blank"
    >
      DeeperGPT
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://github.com/deeper-chain/deepergpt-ui" target="_blank"
    >
      Source Code
    </a>
  </p>
</footer>
