---
import { model } from '../utils/openAI'
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">DeeperGPT</span>
  </div>
  <p mt-1 op-60>Welcome to DeeperGPT, Based on OpenAI API ({model}).</p>
</header>
