---
import { model } from '../utils/openAI'
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">DeeperGPT</span>
  </div>
  <p mt-1 op-60>Welcome! I'm your friendly Deeper GPT AI assistant, here to guide you through Deeper's products, services, and networking. My goal isn't just to chat but to provide you with accurate and helpful information. If you have any questions or need assistance, please don't hesitate to ask at any time.</p>
</header>
